:root {
    --mainColor: #F7DAD9;
    --secondaryColor: #FFF5DA;
    --borderColor: #161914;
    --mainText: #5D534A;
    --secondaryText: #000000;
    --themeDotBorder: #FFF;
    --previewBg: #D6D2C4;
    --previewShadow: #5D534A;
    --buttonColor: black;
}